<%- include('partials/header') %>

<div class="dashcontainer">
  <div class="emptySide"></div>
  <div class="mainSide">
    <div><b> Disclaimer of Liability </b></div>
    <br />
    <div>
      Handrocks Solar does not assume responsibility and disclaims liability for
      damage, loss, or expense arising from improper use, operation, or
      installation of solar PV System by following the recommendation here.
      Handrocks Solar assumes such position due to the inability to control the
      conditions and methods of installation of the solar PV System.
    </div>
    <br /><br />

    <button
      onclick="window.location.href='http://localhost:3000/solarSize/';"
      class="formbtn"
    >
      ACCEPT
    </button>
  </div>
</div>

<%- include('partials/footer') %>
