<%- include('partials/header') %>

<div class="dashcontainer">
  <div class="emptySide"></div>
  <div class="mainSide">
    <div class="clientDetails">Sizing Details by Monthly Bill</div>

    <div class="sizingDetails">Client ID:</div>
    <div class="sizingDetails">Client Name:</div>
    <div class="sizingDetails">Estimated Power Required:</div>
    <div class="sizingDetails">Phase Type: Phase</div>
    <br />

    <div class="totalSystemValues">
      <div class="totalInvPower">
        <label for="inverterOption">Inverters</label><br />
        <select
          name="inverterOption"
          id="inverterOption"
          class="sizingOptions"
          onchange="calcInvPower()"
        >
          <option value="Inverter_1">Inverter_1</option>
          <option value="Inverter_2">Inverter_2</option>
          <option value="Inverter_3">Inverter_3</option></select
        ><br />
        <label for="inverterOptionPcs">Number of Inverters</label><br />
        <select
          name="inverterOptionPcs"
          id="inverterOptionPcs"
          class="sizingOptions"
          onchange="calcInvPower()"
        >
          <label for="inverterOptionPcs">Number of Inverters</label
          ><br />
          <select
            name="inverterOptionPcs"
            id="inverterOptionPcs"
            class="sizingOptions"
            onchange="calcInvPower()"
          >
            <% for (var i = 0; i <= 10; i++) { %>
            <option value="<%" ="i" %>><%= i %></option>
            <% } %></select
          ><br /></select
        ><br />
        <label for="calculatedInvPower">Total System Power (Watts)</label><br />
        <input
          class="sizingNoOptions"
          type="number"
          id="calculatedInvPower"
          name="calculatedInvPower"
          value="0"
          readonly
        /><br />
        <br />
      </div>
      <div class="totalSolarPower">
        <label for="panelOption">Solar Panels</label><br />
        <select
          name="panelOption"
          id="panelOption"
          class="sizingOptions"
          onchange="calcSolarPower()"
        >
          <option
            value="JinkoNeo565Wp"
            ="Jinko Tiger Neo 565Wp"
          ></option></select
        ><br />
        <label for="panelOptionPcs">Number of Solar Panels</label><br />
        <select
          name="panelOptionPcs"
          id="panelOptionPcs"
          class="sizingOptions"
          onchange="calcSolarPower()"
        >
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option></select
        ><br />
        <label for="calculatedSolarPower">Total System Power (Watts)</label
        ><br />
        <input
          class="sizingNoOptions"
          type="number"
          id="calculatedSolarPower"
          name="calculatedSolarPower"
          value="0"
          readonly
        /><br />
        <br />
      </div>
    </div>

    <div class="totalBattPower">
      <label for="batteryOption">Batteries</label><br />
      <select
        name="batteryOption"
        id="batteryOption"
        class="sizingOptions"
        onchange="calcBattEnergy()"
      >
        <option value="Meritsun100Ah">"Meritsun 100Ah"</option></select
      ><br />
      <label for="batteryOptionPcs">Number of Batteries</label><br />
      <select
        name="batteryOptionPcs"
        id="batteryOptionPcs"
        class="sizingOptions"
        onchange="calcBattEnergy()"
      >
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option></select
      ><br />
      <label for="calculatedBattEnergy">Total System Energy (Ah)</label><br />
      <input
        class="sizingNoOptions"
        type="number"
        id="calculatedBattEnergy"
        name="calculatedBattEnergy"
        value="0"
        readonly
      /><br />
      <br />
    </div>

    <form action="/sizingByBillPanel" method="POST">
      <button type="submit" id="solarsize-btn" class="formbtn">SUBMIT</button>
      <button
        type="submit"
        id="logout-btn"
        class="formbtn"
        formaction="/logout"
        formmethod="get"
      >
        LOG OUT
      </button>
    </form>
  </div>
</div>

<%- include('partials/footer') %>
